In [4]:
import pandas as pd

In [14]:
df = pd.read_excel('Belt Sample Data.xlsx', dtype=str)
df

,Name,Timestamp,Status,Description,Vibration Frequency,Vibration Amplitude,Bearing Temperature,Motor Temperature,Belt Load,Torque,Noise Levels,Current and Voltage,Hydraulic Pressure,Belt Thickness,Roller Condition
0,Conveyor Belt 4,2025-08-15 00:00:00,Running,NaN,1490.82,0.04,77.13,96.902,1.36,318.07,55.12,15.79,382.09,1.58,86
1,Conveyor Belt 4,2025-08-15 00:15:00,Running,NaN,1498.37,0.04,77.076,96.975,1.07,295.5,59.68,14.34,376.48,1.5795,85.85400000000001
2,Conveyor Belt 4,2025-08-15 00:30:00,Running,NaN,1503.22,0.06,77.307,96.755,1.21,314.38,58.2,15.03,384.2,1.57925,85.78100000000002
3,Conveyor Belt 4,2025-08-15 00:45:00,Running,NaN,1508.11,0.04,77.474,97.661,1.29,311.84,56.16,15.43,379.79,1.579,85.70800000000003
4,Conveyor Belt 4,2025-08-15 01:00:00,Running,NaN,1498.13,0.06,77.785,97.471,1.07,317.14,55.39,14.35,383.95,1.57875,85.63500000000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Conveyor Belt 4,2025-08-17 23:15:00,Running,NaN,1503.36,0.05,75.889,95.888,1.06,312.37,64.7,14.28,377.08,1.681249999999994,66.65500000000178
286,Conveyor Belt 4,2025-08-17 23:30:00,Running,NaN,1505.71,0.04,76.001,95.738,1.28,287.36,57.81,15.42,384.19,1.680999999999994,66.58200000000178
287,Conveyor Belt 4,2025-08-17 23:45:00,Running,NaN,1495.26,0.05,76.106,95.848,1.3,297.35,58.84,15.04,376.62,1.680749999999994,66.50900000000179
288,Conveyor Belt 4,2025-08-18 00:00:00,Running,NaN,1497.55,0.04,77.13,96.902,1.36,318.07,55.12,17.22,382.09,1.680499999999993,66.4360000000018
289,Conveyor Belt 4,2025-08-18 00:15:00,Running,NaN,1489.92,0.04,77.076,96.975,1.07,295.5,59.68,14.34,376.48,1.680249999999993,66.3630000000018

In [13]:
df = pd.read_excel('Belt 3 Test Data.xlsx', dtype=str)
df

,Conveyor Belt 4,2026-05-14 00:15:00,Running,Unnamed: 3,1498.37,0.04,77.076,96.975,1.07,295.5,59.68,14.34,376.48,1.546749999999949,68.24500000000292
0,Conveyor Belt 4,2026-05-14 00:30:00,Running,NaN,1503.22,0.06,77.307,96.755,1.21,314.38,58.2,15.03,384.2,1.546499999999949,68.17200000000292
1,Conveyor Belt 4,2026-05-14 00:45:00,Running,NaN,1508.11,0.04,77.474,97.661,1.29,311.84,56.16,15.43,379.79,1.546249999999949,68.09900000000293
2,Conveyor Belt 4,2026-05-14 01:00:00,Running,NaN,1498.13,0.06,77.785,97.471,1.07,317.14,55.39,14.35,383.95,1.545999999999949,68.02600000000294
3,Conveyor Belt 4,2026-05-14 01:15:00,Running,NaN,1494.89,0.05,77.813,97.814,1.33,305.58,62.25,15.65,383.02,1.545749999999948,67.95300000000294
4,Conveyor Belt 4,2026-05-14 01:30:00,Running,NaN,1498.2,0.06,77.622,97.464,1.18,285.96,59.25,14.91,383.54,1.545499999999948,67.88000000000295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Conveyor Belt 4,2026-05-27 06:00:00,Running,NaN,1498.91,0.04,61.513,76.79,1.16,286.42,64.25,14.81,379.14,1.553249999999991,80.07100000000183
1271,Conveyor Belt 4,2026-05-27 06:15:00,Running,NaN,1527.77,0.05,61.767,78.35,1.21,287.82,64.83,15.05,384.57,1.552999999999991,79.99800000000184
1272,Conveyor Belt 4,2026-05-27 06:30:00,Running,NaN,1500.02,0.06,61.631,81.42,1.07,285.96,57.92,14.33,379.4,1.552749999999991,79.92500000000184
1273,Conveyor Belt 4,2026-05-27 06:45:00,Running,NaN,1503.17,0.05,62.597,81.56,1.14,315.87,62.16,14.69,378,1.552499999999991,79.85200000000185
1274,Conveyor Belt 4,2026-05-27 07:00:00,Running,NaN,1493.51,0.05,62.565,74.61,1.24,315.21,61.04,15.18,376.93,1.552249999999991,79.77900000000186

In [9]:
df['Description'] = df['Description'].astype(str)
df["Description"]

0      nan
1      nan
2      nan
3      nan
4      nan
      ...
285    nan
286    nan
287    nan
288    nan
289    nan
Name: Description, Length: 290, dtype: object

In [7]:
df = pd.read_excel('Belt Sample Result Sheet.xlsx', header=None)
df

        0                   1
0  Belt 1 2025-08-20 02:00:00
1     NaN                 NaT
2  Belt 2 2025-08-29 15:30:00
3     NaN                 NaT
4  Belt 3 2025-09-11 23:00:00
5     NaN                 NaT
6  Belt 4 2025-08-25 20:00:00
7     NaN                 NaT
8  Belt 5 2025-08-27 01:30:00